@use "variables/fonts";
@use "variables/colors" as c;
@use "variables/mixins" as m;
@use "variables/functions";

.dashboard-body{
    background-color: c.$white;
    width: 100%;

    .dashboard-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 144rem;
        height: 100vh;
        margin: auto;

        @include m.for-size(tablet){
            flex-direction: row;
        }

        .nav{
            position: sticky;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: inherit;
            @include m.cp3(32, 40, 32, 40, 32, 40);
            background-color: c.$white;
            
            @include m.for-size(tablet){
                flex-direction: column;
                width: 16.7rem;
                height: 100vh;
            }

            &__logo{
                cursor: pointer;
            }

            &__avatar{
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                overflow: hidden;

                @include m.for-size(tablet){
                    display: none;
                }
            }

            &__control-buttons{
                display: none;

                @include m.for-size(tablet){
                    display: flex;
                    flex-direction: column;
                }

                &__button{
                    display: flex;
                    @include m.cw(36, 43);
                    @include m.ch(36, 43);
                    background-color: c.$tequila;
                    border-radius: 50%;
                    color: c.$white;

                    &--active{
                        background-color: c.$flushOrange;
                    }

                    &:not(:last-child){
                        margin-bottom: 1.5rem;
                    }

                    .fa-solid{
                        margin: auto;
                        font-size: 1.5rem;
                    }

                    &__insert{

                    }

                    &__search{

                    }

                    &__view{

                    }

                    &__edit{

                    }

                    &__remove{

                    }

                    &__recover{

                    }
                }
            }

            &__logout{
                display: none;
                transform: scaleX(-1);

                @include m.for-size(tablet){
                    display: inline-block;
                    @include m.cw(36, 43);
                    @include m.ch(36, 43);
                    color: c.$tequila;
                }

                svg{

                }
            }
        }

        .main{
            display: flex;
            flex-direction: column;
            margin-top: 4.5rem;

            @include m.for-size(tablet){
                flex: 1;
                width: 100%;
                margin-top: 0;
                @include m.cpa(32, 40);
                background-color: c.$tequila;
            }

            &__nav{
                cursor: pointer;

                @include m.for-size(tablet){
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include m.cp(bottom, 32, 40);
                    color: c.$jon;
                }

                &__header{
                    display: none;

                    @include m.for-size(tablet){
                        display: inline-block;
                        @include m.cf(32, 40);
                    }
                }

                &__avatar{
                    display: none;

                    @include m.for-size(tablet){
                        display: flex;
                        align-items: center;
                    }

                    &__name{
                        display: none;

                        @include m.for-size(tablet){
                            display: inline-block;
                            margin-right: 1rem;
                            font-size: 1.7rem;

                            i{
                                font-size: 1.7rem;
                                color: c.$cinereous;
                            }
                        }

                    }
                    
                    img{
                        display: none;

                        @include m.for-size(tablet){
                            display: inline-block;
                            width: 4rem;
                            height: 4rem;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                }
            }

            &__page{

                @include m.for-size(tablet){
                    display: flex;
                    justify-content: center;
                    height: 80vh;
                }

                &__page{
                    display: none;
                    flex-direction: column;
                    align-items: center;

                    @include m.for-size(tablet){
                        width: 70vw;
                    }


                    &--active{
                        display: flex;
                    }
                }

                &__header{
                    width: 100%;
                    @include m.cp(left, 32, 40);
                    @include m.cf(24, 36);
                    color: c.$jon;
                    margin-bottom: 4.6rem;

                    @include m.for-size(tablet){
                        display: none;
                    }
                }

                &__form{
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                }
            }
        }

        .control-menu{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            @include m.cp3(0, 0, 26, 32, 32, 40);

            @include m.for-size(tablet){
                display: none;
            }

            &--sticky{
                position: sticky;
            }

            &__menu-button{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include m.cw(50, 60);
                @include m.ch(50, 60);
                margin-top: 0;
                @include m.cm(left, 8, 9.6);
                background-color: c.$flushOrange;
                border-radius: 50%;

                &--active{
                    box-shadow: inset 0 .4rem .4rem rgba(0, 0, 0, .25);
                }

                &__ellipsis{
                    font-size: 2.2rem;
                    line-height: 40%;
                    color: c.$white;
                }
            }

            &__control-buttons{
                display: none;
                flex-direction: row-reverse;

                &--active{
                    display: flex;
                    justify-content: center;
                }

                &__button{
                    display: flex;
                    @include m.cw(36, 43);
                    @include m.ch(36, 43);
                    background-color: c.$flushOrange;
                    border-radius: 50%;
                    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .25);
                    color: c.$white;
                    
                    &:not(:last-child){
                        @include m.cm(left, 6, 7.2);
                    }

                    .fa-solid{
                        margin: auto;
                        font-size: 1.5rem;
                    }

                    &__insert{

                    }

                    &__search{

                    }

                    &__view{

                    }

                    &__modify{

                    }

                    &__remove{

                    }

                    &__recover{

                    }
                }
            }
        }

        .profile-menu{
            display: none;
            z-index: 100;
            position: absolute;
            width: 100%;
            height: 100vh; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, .8);

            &--active{
                display: flex;
            }

            &__link{
                color: c.$platinum;
                cursor: pointer;
                font-size: 2rem;

                &:not(:last-child){
                    margin-bottom: 2rem;
                }

                &:hover{
                    color: c.$cinereous;
                }
            }

            &__logout{
                color: c.$flushOrange;
                text-decoration: none;

                &:hover{
                    color: c.$darkRed;
                }
            }
        }
    }
}


// modifiers

